<div class="flex justify-center font-serif tems-center w-full bg-white">
  <div class="w-full bg-white rounded shadow-2xl p-8 m-4">
    <h1 class="block w-full text-center text-gray-800 text-2xl font-bold mb-6">地域、ハッシュタグで絞り込み検索</h1>
<%= search_form_for @q, url: search_posts_path do |f| %>
 <div class="w-2/5 bg-gray-50 border focus:ring ring-red-50 rounded outline-none transition duration-100 px-3 py-2">
  <%= f.collection_select :location_id_eq, Location.where.not(id: 0), :id, :name, include_blank: "地域を選択してください" %>
 </div>
  <%= f.label :categories_id_eq_any, "Hashtag検索" %>
  <% Category.all.each do |category| %>
     <%= check_box_tag('q[categories_id_eq_any][]', category.id ) %>
     <%= category.name %>
  <% end %>
  <%= f.submit '検索',class:"inline-block rounded-full bg-green-500 hover:bg-green-600 active:bg-green-700 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
<% end %>
<div class="rounded overflow-hidden shadow-lg">
  <div class="container rounded-t-md px-24 py-24 mx-auto">
    <div class="flex flex-col text-center mb-30">
      <div class="flex flex-wrap sm:-m-3 -mx-4 -mb-10 -mt-4">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
      <p>まだ投稿がありません</p>
        <% end %>
      </div>
    </div>
  </div>
  <input id="address" type="textbox" value="">
  <input type="button" value="地図を検索" onclick="codeAddress()">
  <div id="display">緯度経度が表示されるよ！</div>
  <div id='map'></div>

<style>
#map {
  height: 400px;
  width: 1600px;
}
</style>

<script>
let map;

const display = document.getElementById('display')

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center:{lat: 35.68123620000001, lng:139.7671248},
      zoom: 3,
    });

  <% @posts.each do |m| %>
    <% results = Geocoder.search(m.address) %>
    <% if results.present? %>
      <% @latlng = results.first.coordinates %>
      (function() {
        let marker = new google.maps.Marker({
          position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
          map: map
        });
        postContent = 
          "<a href='/posts/<%= m.id%>'>" + "タイトル："+ "<%= m.title%>"+"<br>"+ "住所、施設名："+ "<%= m.address%>" + "</a>";
          
        var infowindow = new google.maps.InfoWindow({
          content: postContent
        });
    
      
        // クリックしたときに情報ウィンドウを表示
      marker.addListener('click', function() {
      infowindow.open(map, marker);
      });
  })();

    <% end %>
  <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
<section><%= paginate @posts %></section>
</div>
