<h1>地域検索</h1>
<%= search_form_for @q, url: search_posts_path do |f| %>
  <%= f.collection_select :location_id_eq, Location.where.not(id: 0), :id, :name, include_blank: "地域を選択してください" %>
  <%= f.label :categories_id_eq_any, "Hashtag検索" %>
  <% Category.all.each do |category| %>
     <%= check_box_tag('q[categories_id_eq_any][]', category.id ) %>
     <%= category.name %>
  <% end %>
  <%= f.submit '検索',class:"inline-block rounded-full bg-green-500 hover:bg-green-600 active:bg-green-700 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
<% end %>
<div class="rounded overflow-hidden shadow-lg">
  <div class="container rounded-t-md px-24 py-24 mx-auto">
    <div class="flex flex-col text-center mb-30">
      <div class="flex flex-wrap sm:-m-3 -mx-4 -mb-10 -mt-4">
        <% if @posts.present? %>
          <%= render @posts %>
        <% else %>
      <p>まだ投稿がありません</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
