<div class="max-w-md font-serif max-w-screen-2xl font-serif text-center object-center py-4 px-5 bg-white shadow-lg rounded-lg my-20">
  <div class="h-screen flex items-center justify-center bg-white">
    <div class="grid grid-cols-12 px-18 gap-5">
      <div class="col-span-12">
        <p class="text-gray-800 text-3xl font-semibold">Inspiration for your next trip</p>
      </div>

<table>
  <tbody>
    <% @plans.each do |plan| %>
    <a class="col-span-3 bg-red-500 rounded-xl h-40 md:h-80" href="/plans/<%= plan.id%>">
        <!-- Image -->
      <img src="https://a0.muscache.com/im/pictures/db8167f7-5c57-4684-80ae-4350c73e45ef.jpg?im_w=320" class="rounded-t-xl max-h-44" /> 
        <!-- City Name -->
        <p class="text-xl md:text-3xl text-gray-50 pt-5 pl-3"> <%= plan.title %></p>  
        <p class="text-xl md:text-xl text-gray-50 pt-5 pl-3"> <%= plan.start_time.strftime('%Y/%m/%d') %></p>  
     <% end %>
    </a>
    </div>
  </div>
  </tbody>
</table>
</div>
</div>

<div class="w-full flex justify-center py-12 text-center" >
  <%= link_to '新規作成',new_plan_path, class:"focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 mx-auto transition duration-150 ease-in-out hover:bg-indigo-600 bg-indigo-700 rounded text-white px-4 sm:px-8 py-2 text-xs sm:text-sm" %>
</div>
</div>

<h1>カレンダー</h1>
<%= month_calendar(events: @plans) do |date, plans| %>
  <%= date.day %> 

  <% plans.each do |plan| %>
    <div>
      <%= plan.title %>
    </div>
  <% end %>
<% end %>
</div>

<div class="font-serif py-12 bg-gray-700 transition duration-150 ease-in-out z-10 fixed hidden top-0 right-0 bottom-0 left-0" id="modal">
  <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
    <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
      <div class="w-full flex justify-start text-gray-600 mb-3">
      </div>
      <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">旅行計画作成</h1>   
      
       <%= render 'form', plan: @plan %>  
    </div>
  </div>
</div>
  
