<div class="max-w-md font-serif max-w-screen-2xl font-serif text-center object-center py-4 px-5 bg-white shadow-lg rounded-lg my-20">
<h1>プラン一覧</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plans| %>
      <tr>
        <td><%= plans.title %>
         <%= link_to '詳細', plan_path(plans)%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="flex flex-wrap object-center place-items-center ">
  <div class="text-center">
    <%= link_to '新規作成',new_plan_path, class:"inline-block rounded-full bg-green-500 hover:bg-green-600 active:bg-green-700 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3"  %>
  </div>
</div>
</div>




<div id="display">訪問予定地に登録した住所がピンで表示されます</div>

<div id='map'></div>


<style>
#map {
  height: 600px;
  width: 1200px;
}
</style>

<script>
    let map;
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center:{lat: 35.68123620000001, lng:139.7671248},
                zoom: 12,
            });

            <% @plans.each do |m| %>
                <% results = Geocoder.search(m.address) %>
                <% if results.present? %>
                    <% @latlng = results.first.coordinates %>
                    (function() {
                        let marker = new google.maps.Marker({
                            position:{lat: <%= @latlng[0] %>, lng: <%= @latlng[1] %>},
                            map: map
                        });
                    })();

                <% end %>
            <% end %>
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>

  <h1>カレンダー</h1>
<%= month_calendar(events: @plans) do |date, plans| %>
  <%= date.day %> 

  <% plans.each do |plan| %>
    <div>
      <%= plan.title %>
    </div>
  <% end %>
<% end %>
</div>
