<div class="max-w-md font-serif text-center object-center py-4 px-5 bg-white shadow-lg rounded-lg my-20">
  <p><%= @plan.title %></p>
  <p><%= @plan.start_time %></p>
  <p><%= @plan.end_time %></p>
  <p><%= @plan.body %></p>
     <%= link_to '編集', edit_plan_path(@plan)%>
   <%= link_to '削除', plan_path(@plan),method: :delete, data: { confirm: '本当に消去しますか?' }%>
</div>